.card img.logoZoo2 {
    transform: scale(0.4) !important;
}

.dividerText {
    font-family: 'Poppins', serif;
    font-weight: 200;
    position: absolute;
    margin: 0;
    padding: 2px 16px;
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
    background: linear-gradient(to right,
            transparent,
            rgba(255, 255, 255, 0.484) 20%,
            rgba(255, 255, 255, 0.455) 80%,
            transparent);
    border-radius: 4px;
    box-shadow:
        0 0 20px rgba(255, 255, 255, 0.1),
        inset 0 0 15px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
}